<!DOCTYPE html>
<html ng-app="demo">

<head>
    <link rel="stylesheet" href="bower_components/normalize-css/normalize.css" />
    <link rel="stylesheet" href="stylesheet.css" />
    <link rel="stylesheet" href="bower_components/froala-wysiwyg-editor/css/froala_editor.pkgd.css" />
    <link rel="stylesheet" href="bower_components/froala-wysiwyg-editor/css/froala_style.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="dist/angular-document.css" />

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>

    <script src="bower_components/pdfjs-dist/build/pdf.combined.js"></script>
    <script src="bower_components/froala-wysiwyg-editor/js/froala_editor.pkgd.min.js"></script>
    <script src="bower_components/angular-froala/src/angular-froala.js"></script>
    <script src="bower_components/angular-typescript-module/dist/angular-typescript-module.js"></script>
    <script src="dist/angular-document.js"></script>
    <script src="dist/angular-document.templates.js"></script>
</head>

<body>
    <div ng-hide="showEditor || showPdf">
        <button ng-click="toggleEditor(true)">show editor</button>
        <button ng-click="togglePdf(true)">show pdf</button>
    </div>

    <document-pdf url="{{pdfUrl}}" ng-if="showPdf">
        <div class="sidebar">
            <button ng-click="togglePdf(false)">close pdf</button>
        </div>
    </document-pdf>

    <document-editor html="html" ng-if="showEditor">
        <div class="sidebar">
            <button ng-click="toggleEditor(false)">close editor</button>
            <div froala-view="html"></div>
            <div>
                <button ng-click="copyToClipboard(html)">Copy To Clipboard</button>
            </div>
            <div>
                <code>{{html}}</code>
            </div>
        </div>
    </document-editor>

    <script src="demo.js"></script>
</body>

</html>