<!DOCTYPE html>
<html ng-app="demo">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="node_modules/normalize.css/normalize.css" />
    <link rel="stylesheet" href="stylesheet.css" />
    <link rel="stylesheet" href="node_modules/froala-editor/css/froala_editor.pkgd.css" />
    <link rel="stylesheet" href="node_modules/froala-editor/css/froala_style.css" />
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="dist/angular-document.css" />

    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="node_modules/angular/angular.js"></script>

    <script src="node_modules/pdfjs-dist/build/pdf.combined.js"></script>
    <script src="node_modules/froala-editor/js/froala_editor.pkgd.min.js"></script>
    <script src="node_modules/angular-froala/src/angular-froala.js"></script>
    <script src="node_modules/angular-typescript-module/dist/angular-typescript-module.js"></script>
    <script src="dist/angular-document.js"></script>
    <script src="dist/angular-document.templates.js"></script>
</head>

<body>
    <div ng-hide="showEditor || showPdf">
        <button ng-click="toggleEditor(true)">show editor</button>
        <button ng-click="togglePdf(true)">show pdf</button>
    </div>

    <document-pdf url="{{pdfUrl}}" ng-if="showPdf">
        <div class="sidebar">
            <button ng-click="togglePdf(false)">close pdf</button>
        </div>
    </document-pdf>

    <div class="style-test">
        <document-editor html="html" ng-if="showEditor" on-context-change="onContextChange(context)">
            <div class="sidebar">
                <button ng-click="toggleEditor(false)">close editor</button>
                <div>
                    Current Position: '{{context.value}}'
                </div>
                <div froala-view="html"></div>
                <div>
                    <button ng-click="copyToClipboard(html)">Copy To Clipboard</button>
                </div>
                <div>
                    <code>{{html}}</code>
                </div>
            </div>
        </document-editor>
    </div>

    <script src="demo.js"></script>
</body>

</html>